
.Rproj.user/F93336E5/sources/session-5427bfd4/lock_file
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/F93336E5/sources/session-5427bfd4/F0DF1883-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/DBB79E3A-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/DBB79E3A
.Rproj.user/F93336E5/sources/session-5427bfd4/C082CCAB-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/B770A2AF-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/A0CAC23D-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/7D9B13FB-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/7874FDAF-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/72D5C1FB-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/45C2CFF8-contents
.Rproj.user/F93336E5/sources/session-5427bfd4/45C2CFF8
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/sources/prop/E25D9A2C
.Rproj.user/F93336E5/sources/prop/9E41D267
.Rproj.user/F93336E5/sources/prop/4D4518B1
.Rproj.user/F93336E5/saved_source_markers
.Rproj.user/F93336E5/rmd-outputs
.Rproj.user/F93336E5/persistent-state
.Rproj.user/F93336E5/pcs/workbench-pane.pper
.Rproj.user/F93336E5/pcs/windowlayoutstate.pper
.Rproj.user/F93336E5/pcs/source-pane.pper
.Rproj.user/F93336E5/pcs/packages-pane.pper
.Rproj.user/F93336E5/pcs/files-pane.pper
.Rproj.user/F93336E5/jobs/525718B5-output.json
